[Unit]
 Description=systemd-mailify Service
 ConditionFileNotEmpty=/etc/systemd-mailify.conf
 DefaultDependencies=no
 After=systemd-journald.service
 BindsTo=systemd-journald.service
[Service]
 Type=simple
 Restart=always
 RestartSec=60
 ExecStart=/usr/bin/python2 /usr/bin/systemd-mailify.py

[Install]
